.day {
  background: url(/dist/imgs/01_sun.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.night {
  background: url(/dist/imgs/00_night.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-size: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* LAYOUT */
.mainContainer {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  width: 1010px;
  margin: 10% auto 0 auto;
}

.nowContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 350px;
}

.forecastContainer {
  background-color: rgba(0, 0, 0, 0.3);
  width: 700px;
  height: 350px;
  margin-left: 10px;
}

.searchContainer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 50px;
  margin-top: 10px;
}

.lightContainer {
  background-color: rgba(255, 255, 255, 0.1);
}

.forcastInner {
  /* background-color: burlywood; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: auto;
  height: 82%;
  margin: 5px 50px 8px 50px;
}

/* ELEMENTS */
.boxTitle {
  /* background-color: chartreuse; */
  margin: 10px 10px 0 10px;
}

.temperatureMain {
  font-size: 5em;
  font-weight: 700;
  margin: 0.25em auto 0 auto;
}

.symbolMain {
  /* background-color: chartreuse; */
  width: 45%;
  margin: 0 auto;
}

.nowDescription {
  position: relative;
  margin: 0 10px 10px 10px;
  width: 280px;
  height: 100%;
}
.nowDescription div {
  position: absolute;
  white-space: pre;
  bottom: 0;
  left: 0;
  font-size: 0.9em;
}

.nowTempBar {
  background-color: white;
  width: 100%;
  height: 30px;
}

.searchBox {
  margin: 10px auto 10px 10px;
  padding: 6px;
  width: 220px;
  font-size: 1em;
  border: none;
  background-color: transparent;
  outline: none;
  font-style: italic;
  color: white;
}

.searchBox::placeholder {
  color: white;
}

.searchBox:focus::placeholder {
  color: transparent;
}

.searchSymbol {
  cursor: pointer;
  margin: 5px;
}

.dayCard {
  /* background-color: rgba(230, 254, 255, 0.233); */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column-reverse;
  align-content: flex-end;
  height: 100%;
  width: 115px;
}

.date {
  /* background-color: rgba(255, 127, 80, 0.39); */
  height: 15px;
  text-align: center;
  padding: 5px;
  font-size: 0.9em;
}

.bar {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  height: 80px; /* HEIGHT TO BE ADJUSTED DYNAMICALLY */
  transition: height 0.5s ease-in-out;
  overflow: hidden;
  width: 100%;
}

.infoZone {
  display: flex;
  position: relative;
  /* background-color: rgba(255, 214, 80, 0.233); */
  height: 40px;
}

.tempZone {
  position: absolute;
  top: 0;
  height: auto;
  width: 100%;
  margin: 5px 0 0 5px;
  font-weight: 700;
}

.colourZone {
  background-color: rgba(255, 255, 255, 0.1);
  height: 5px;
  width: 100%;
  transition: background-color 0.5s ease-in-out;
}

.iconZone {
  height: 40px;
  width: 100%;
}

.symbolCard {
  height: 100%;
  width: 100%;
}

.windDir {
  height: 38px;
  width: 38px;
  /* background-color: coral; */
}
.windVal {
  position: absolute;
  top: 12px;
  left: 9px;
  font-size: 0.75em;
  text-align: center;
  width: 20px;
  height: 1.1em;
  /* background-color: rgb(41, 90, 19); */
}

.rainSymbol {
  height: 80%;
  margin-left: auto;
}

.rainVal {
  font-size: 0.75em;
  margin-top: 12px;
  margin-left: 2px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    /* display: flex;
    flex-wrap: wrap;
    width: 1010px;
    margin: 10% auto; */
    /* background-color: coral; */
    width: 100%;
  }

  .nowContainer {
    /* display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 350px; */
    margin: 10px auto 0 auto;
    width: 95%;
    /* height: 80vh; */
    order: 2;
  }

  .forecastContainer {
    /* background-color: rgba(0, 0, 0, 0.3);
    width: 700px;
    height: 350px;
    margin-left: 10px; */
    height: 400px;
    margin: 10px auto 0 auto;
    width: 95%;
    order: 3;
  }

  .forcastInner {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: auto;
    height: 82%; */
    margin: 5px 5px 8px 5px;
  }

  .searchContainer {
    /* display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 50px;
    margin-top: 10px; */
    margin: 10px auto 0 auto;
    width: 95%;
    order: 1;
  }

  .bar {
    /* background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
    width: 100%; */
    padding-bottom: 40px;
  }

  .tempZone {
    /* position: absolute;
    top: 0;
    height: auto;
    width: 100%;
    margin: 5px 0 0 5px;
    font-weight: 700; */
    margin-bottom: 5px;
  }

  .infoZone {
    /* display: flex;
    position: relative;
    height: 40px; */
    bottom: -40px;
    flex-direction: column;
    height: 80px;
    /* background-color: rgb(224, 115, 75); */
  }
  .windDir {
    /* height: 38px;
    width: 38px; */
    margin: 0 auto 0 auto;
  }
  .windVal {
    /* position: absolute;
    top: 12px;
    left: 9px;
    font-size: 0.75em;
    text-align: center;
    width: 20px;
    height: 1.1em; */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .rainSymbol {
    /* height: 80%;
    margin-left: auto; */
    height: 30%;
    margin: 0;
  }

  .rainVal {
    /* font-size: 0.75em;
    margin-top: 12px;
    margin-left: 2px;
    margin-right: 10px; */
    margin: 0 auto;
  }
}
